<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
</IfModule>

<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 72.139.57.210
deny from 201.249.169.90
deny from 157.245.50.29
deny from 159.65.139.244
deny from 61.41.4.26
deny from 66.249.70.32
deny from 91.132.136.50
deny from 23.92.127.66
deny from 185.65.135.179
